<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  
  <copyrightfile filepath="C:\Users\mike.liddle\documents\copyrightProject\copyright.txt" />
  
  <log filepath="C:\updatelog.txt" />
  
  <directorylist>
    <directory path="C:\Users\mike.liddle\documents\copyrightProject\repository\" />
    <directory path="C:\Users\mike.liddle\documents\copyrightProject\repository1\" />
    <directory path="C:\Users\mike.liddle\documents\copyrightProject\repository2\" />
  </directorylist>

  <filetypes>
    <extension comment="//"      endComment="//"     file="*.c" />
    <extension comment="//"      endComment="//"     file="*.h" />
    <extension comment="//"      endComment="//"     file="*.cpp" />
    <extension comment="//"      endComment="//"     file="*.cxx" />
    <extension comment="//"      endComment="//"     file="*.hpp" />
    <extension comment="//"      endComment="//"     file="*.hxx" />
    <extension comment="//"      endComment="//"     file="*.js" />
    <extension comment="//"      endComment="//"     file="*.jsp" />
    <extension comment="//"      endComment="//"     file="*.m" />
    <extension comment="&lt;!--" endComment="--&gt;" file="*.php" />
    <extension comment="#"       endComment="#"      file="*.sql" />
    <extension comment="//"      endComment="//"     file="*.cs" />
    <extension comment="//"      endComment="//"     file="*.cls" />
    <extension comment="//"      endComment="//"     file="*.cc" />
    <extension comment="//"      endComment="//"     file="*.cbp" />
    <extension comment="&lt;!--" endComment="--&gt;" file="*.html" />
    <extension comment="&lt;!--" endComment="--&gt;" file="*.htm" />
    <extension comment="&lt;!--" endComment="--&gt;" file="*.xml" />
    <extension comment="&lt;!--" endComment="--&gt;" file="*.html5" />
    <extension comment="&lt;!--" endComment="--&gt;" file="*.csproj" />
    <extension comment="=begin"       endComment="=end"      file="*.rb" />
    <extension comment="#"       endComment="#"      file="*.sh" />
    <extension comment="'"       endComment="'"      file="*.vb" />
    <extension comment="//"      endComment="//"     file="*.java" />
  </filetypes>

</configuration>